.header {
    background-image: url(Assets/Illustrations/Bathome1.png);
}

.home {
    text-align: right;
}

body {
    background-color: black;
    text-align: center;
    display: block;
    justify-content: center;
    color: #FFFFFF;
}

#image {
    justify-content: space-around;
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 130px;
}

#image11 {
    justify-content: left;
    display: contents;
}